.mainConfig {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 10vh;
}

.line {
    margin: 0;
    grid-column: 1;
    width: 100vh; 
    border-top: 1px solid #ccc; 
    margin: 20px 0;
}

.columnNotificacoes {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.configurationBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 800px;
    height: 100px; 
    background-color: #FAFAFA;
    color: #333333;
    border: 1px solid #DADADA;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    cursor: pointer;
}