# Ambiente virtual
venv/

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.pyc
*.py[cod]
*$py.class

# Django:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# VS Code settings
.vscode/
./backend/backendfocus/app/__pycache__/
./backend/backendfocus/app/migrations/__pycache__/
./backend/backendfocus/backendfocus/__pycache__/
backend/backendfocus/.env
*.pyc
