.mainHome {
    margin-top: 10vh;
    margin-left: 15vh;
    gap: 10px;
}

.welcomeFlex {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 50px;
    align-items: center;
}

.imageWelcome {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}

.homeGrid {
    display: flex;
    gap: 50px;
    align-items: center;
}

.testDiv {
    background-color: #F9F9F9;
}

.searchbar {
    width: 40%;
    max-width: 700px;
    background-color: #d9d9d9;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    border: none;
    align-self: center;
}

.buttonCriarRepositorio {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #1E0E62;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-size: medium
}

.buttonAbrirRelatórios {
    width: 158px;
    height: 40px;
    cursor: pointer;
    background-color: #1E0E62;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-size: medium
}

.line {
    margin: 0;
    border-top: 1px solid #d9d9d9; 
    margin: 20px 0;
}

.column {
    margin-left: 15vh;
    margin-right: 15vh;
    display: grid;
    column-gap: 20px;
    justify-items: left;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 10cm;
}

.repositoryFlex {
    box-shadow: 2px 2px #919191;
    width: 400px;
    border-radius: 5px;
    background-color: #F9F9F9;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    cursor: pointer;
}
