.mainUpdateRepository {
    height: 45em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.scopeUpdateRepository {
    width: 100em;
    max-width: 100vh;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto auto auto; 
    gap: 20px;
    column-gap: 200px;
    grid-template-areas:
        "titulo imagem"
        "linha imagem"
        "nome imagem"
        "descricao imagem"
        "linha2 imagem"
        "privado imagem"
        "colaborador imagem"
        "alerta imagem"
        "botao imagem";
}

.iconH1Flex {
    display: flex;
    gap: 20px;
}

.iconBack {
    grid-area: titulo;
    cursor: pointer;
}

.h1UpdateRepository {
    grid-area: titulo;
}

.line {
    grid-area: linha;
    margin: 0;
    grid-column: 1;
    width: 100%; 
    border-top: 1px solid #ccc; 
    margin: 20px 0;
}

.line2 {
    grid-area: linha2;
    margin: 0;
    grid-column: 1;
    width: 100%;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.nameInput {
    grid-area: nome;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.descriptionInput {
    grid-area: descricao;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.alertTextGroup {
    grid-area: alerta;
    grid-column: 1;
    display: flex;
    align-items: center;
    gap: 5px;
}

.buttonUpdateRepository {
    grid-area: botao;
    width: 200px;
    height: 35px;
    background-color: #45FF79;
    border: none;
    border-radius: 5px;
    color: #333333;
    font-size: medium;
    text-transform: uppercase;
    cursor: pointer;
}

.buttonDeletarRepository {
    grid-area: imagem;
    width: 200px;
    height: min-content;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: medium;
    text-transform: uppercase;
    cursor: pointer;
}

.privateRepositoryInput {
    grid-area: privado;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.repositoryImageUpload {
    margin-left: 50px;
    grid-column: 2;
    grid-row-start: 3;
}

.inputInformationName {
    background-color: #D9D9D9;
    border: none;
    height: 30px;
    width: 246px;
    border-radius: 5px;
}

.inputInformationDescription {
    background-color: #D9D9D9;
    border: none;
    height: 30px;
    width: 420px;
    border-radius: 5px;
}

.inputInformationCheckbox {
    background-color: #D9D9D9;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.collaboratorsInput {
    grid-area: colaborador;
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.container {
    grid-area: imagem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.alinharColuna2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .uploadLabel {
    cursor: pointer;
    display: inline-block;
  }
  
  .uploadBox {
    width: 200px;
    height: 200px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease;
  }
  
  .uploadBox:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .uploadText {
    font-size: 2rem;
    color: #aaa;
  }
