.mainUploadVideo {
    height: 45em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.scopeUploadVideo {
    width: 100em;
    max-width: 100vh;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 5px;
}

.line {
    margin: 0;
    grid-column: 1;
    width: 100%; 
    border-top: 1px solid #ccc; 
    margin: 20px 0;
}

.titleInput, .descriptionInput {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputInformationTitle {
    background-color: #D9D9D9;
    border: none;
    height: 30px;
    width: 420px;
    border-radius: 5px;
}

.inputInformationDescription {
    background-color: #D9D9D9;
    border: none;
    height: 100px;
    width: 420px;
    border-radius: 5px;
    resize: none;
}

.videoFileUpload {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputVideoFile {
    background-color: #D9D9D9;
    border: none;
    height: 35px;
    border-radius: 5px;
}

.buttonUploadVideo {
    grid-column: 1;
    width: 200px;
    height: 40px;
    background-color: #45FF79;
    border: none;
    border-radius: 5px;
    color: #F3F3F3;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
