.videoContainer {
  margin-top: 3vh;
  margin-left: 13vh;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 3vh 5vw;
  width: 90%;
}

.line {
  margin: 0;
  border-top: 1px solid #ccc; 
  margin: 20px 0;
}

.backgroundStatistics {
  width: 500px;
  height: 50px;
  background: linear-gradient(to right, #0879FE, #002E63);
  border-radius: 10px;
  padding: 15px;
  color: #FFF;
}

.textFlex {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 25vh;
}

.videoDetails {
  width: 100%;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 2vw;
  align-items: flex-start;
}

.videoThumbnail {
  width: 100%;
  height: auto; /* Ajustado para manter a proporção da largura maior que a altura */
  aspect-ratio: 16 / 9; /* Garante que a proporção do vídeo seja retangular, largura maior que altura */
  background-color: #d3d3d3;
  border-radius: 1vw;
  position: relative;
}

.videoName {
  color: #000000;
  font-weight: bold;
  font-size: larger;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.videoDuration {
  color: #252525;
  max-width: 90%;
}

.videoInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  font-size: 1.2vw;
}

.videoInfo h4 {
  font-size: 2vw;
  font-weight: bold;
}

.videoInfo p {
  font-size: 1.2vw;
  color: #666666;
}

.detailsTitle {
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 3vh;
}

.deleteButton {
  width: 230px; /* Largura do botão ajustada */
  height: 35px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  margin-top: 3vh;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: darkred;
}

.line {
  margin: 0;
  grid-column: 1 / span 2;
  width: 100%;
  border-top: 1px solid #ccc;
  margin: 3vh 0;
}

@media (max-width: 768px) {
  .videoDetails {
      grid-template-columns: 1fr;
  }

  .videoThumbnail {
      height: auto; /* Ajustei para a altura ser automática */
      aspect-ratio: 16 / 9; /* Continua mantendo a proporção retangular */
  }

  .videoName {
      font-size: 4vw;
  }

  .videoInfo {
      font-size: 4vw;
  }

  .deleteButton {
      width: 40vw;
      font-size: 3vw;
  }

  .detailsTitle {
      font-size: 5vw;
  }
}
