@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jersey+15&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  background-color: #F3F3F3;
  font-family: 'DM Sans';
  font-weight: 500;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
